name: my-pipeline

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v2

      - name: Build the Docker image
        run: docker-compose up -d

      # Elastic Beanstalk CLI version
      - name: Get EB CLI version 
        run: |
          python -m pip install --upgrade pip
          pip install awsebcli --upgrade
          eb --version
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
           aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
           aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
           aws-region: us-west-2

      - name: Deploying docker compose
        run: |
          eb init -p docker voting-app2

      # Create the Elastic Beanstalk environment
      - name: Create blue environment
        run: |
          eb create app-green-environment
      
      - name: Deploying docker compose
        run: |
          eb open app-green-environment

      - name: Swapping blue env with green
        run: |
          eb swap app-green-environment --destination_name app-blue-environment